.customize-control-radio .ui-state-default, .customize-control-radio .ui-widget-content .ui-state-default, .customize-control-radio .ui-widget-header .ui-state-default {
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-o-border-radius: 0 !important;
}

.customize-control-radio .ui-button-text-only .ui-button-text {
    padding: 0.1em;
}


.customize-control-radio .ui-widget {
	font-size: 0;	
	margin-right: 4px !important;
    margin-top: 4px;
	float:left;
	padding:0;
}

.customize-control-slider input[type="text"] {
	margin-bottom:10px;
}

.customize-control-slider .ss-slider {
	margin-bottom:7px;	
}

/*.customize-control-checkbox label, .customize-control-nav_menu_auto_add label, .customize-control-radio label {
	display:run-in !important;
	padding:0px !important;	
}*/

.ui-button {
	height:auto;	
}